body {
    display: flex;
    flex-wrap: flex;
    justify-content: center;
    padding-top: 100px;
    background: linear-gradient(to right, rgb(63, 57, 57), #3e454a);
}

.timerBtn {
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    border-color: rgb(72, 72, 72);
    background-color: #0C0908;
    color: aliceblue;
    cursor: pointer;
    font-family: consolas, monospace;
    transition: all 0.2s ease-in-out;
}

.timerBtn:hover {
    background-color: rgb(240, 81, 2);
}

#timeDisplay {
    font-size: 75px;
    color: rgb(250, 83, 0);
    font-family: consolas monospace;
}

#container {
    justify-content: center;
    text-align: center;
    padding: 30px;
    border: 3px solid;
    border-radius: 25px;
    background: linear-gradient(to right, rgb(51, 46, 46), #282c2f);
}